<% include partials/header %>
<div class="admin-content">
  <p class="section-title">Admin Section</p>
  <div id="posts">
    <% for (let i = 0; i < posts.length; i++) { %>
      <div class="post" id="<%= posts[i]._id %>">
        <a class="post-link" href="/admin/<%= posts[i]._id %>">
          <p class="post-title"><%= posts[i].title %></p>
          <p class="content-cutoff"><%= posts[i].content %></p>
          <div>
            <span>Created: </span>
            <span><%= moment(posts[i].post_date).format('MMMM Do YYYY') %></span>
            <span>- <%= moment(posts[i].post_date).fromNow() %></span>
          </div>
        </a>
      </div>
    <% } %>
  </div>
  <p class="section-title">Create Blog Post</p>
  <form class="post-form" action="/blog" method="post">
    <div class="form-control">
      <label for="title">Title: </label>
      <input type="text" class="title" name="title">
    </div>
    <div id="add-content" class="form-control">
      <label for="content">Content: </label>
      <textarea name="content" id="" cols="100" rows="20"></textarea>
    </div>
    <div id="add-video" class="form-control">
      <label for="video_url">Video URL: </label>
      <input type="text" name="video_url">
    </div>
    <div class="form-control">
      <label for="post_date">Date Created: </label>
      <input type="date" name="post_date">
    </div>
    <div class="form-control">
      <label for="last_update">Date Last Updated: </label>
      <input type="date" name="last_update">
    </div>
    <input class="btn" type="submit">
  </form>
</div>
<% include partials/footer %>
