<% include partials/header %>
<div class="admin-content">
  <p class="section-title">Admin Section</p>
  <div id="blog-posts">
    <div id="blog-posts-content" class="container">
      <% for (let i = 0; i < posts.length; i++) { %>
        <div class="blog-post" id="<%= posts[i]._id %>" style="background: linear-gradient(rgba(153, 230, 255, 0.7), rgba(153, 230, 255, 0.7)), url(<%= posts[i].video_thumbnail %>)">
          <a class="blog-post-link" href="/admin/<%= posts[i]._id %>">
            <p class="blog-post-title"><%= posts[i].title %></p>
            <p class="content-cutoff"><%= posts[i].content %></p>
            <div>
              <span>Created: </span>
              <span><%= moment(posts[i].post_date, 'YYYY-MM-DD').format('MMMM Do YYYY') %></span>
              <span>- <%= moment(posts[i].post_date, 'YYYY-MM-DD').fromNow() %></span>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
  <p class="section-title">Create Blog Post</p>
  <form class="post-form" action="/blog" method="post">
    <div class="form-control">
      <input type="text" class="input-box" name="title" placeholder="Title...*">
    </div>
    <div id="add-content" class="form-control">
      <textarea name="content" class="input-box" id="" cols="100" rows="20" placeholder="Content...*"></textarea>
    </div>
    <div id="add-video" class="form-control">
      <input type="text" class="input-box" name="video_url" placeholder="Video URL...">
    </div>
    <div id="add-video-thumbnail" class="form-control">
      <input type="text" class="input-box" name="video_thumbnail" placeholder="Video Thumbnail...">
    </div>
    <div class="form-control">
      <label for="post_date">Date Created: </label>
      <input type="date" name="post_date">
    </div>
    <div class="form-control">
      <label for="last_update">Date Last Updated: </label>
      <input type="date" name="last_update">
    </div>
    <input class="btn" type="submit">
  </form>
  <form action="/api/logout">
    <div>
      <input type="submit" class="delete btn" value="Log Out">
    </div>
  </form>
</div>
<% include partials/footer %>
