<% include partials/header %>
<div id="admin-post-content">
  <div id="post" class="container">
    <p class="post-title"><%= post.title %></p>
    <div class="date">
      <span>Created: </span>
      <span><%= moment(post.post_date, 'YYYY-MM-DD').format('MMMM Do YYYY') %></span>
      <span>- <%= moment(post.post_date, 'YYYY-MM-DD').fromNow() %></span>
    </div>
    <div class="date">
      <span>Last Updated: </span>
      <span><%= moment(post.last_update, 'YYYY-MM-DD').format('MMMM Do YYYY') %></span>
      <span>- <%= moment(post.last_update, 'YYYY-MM-DD').fromNow() %></span>
    </div>
    <div id="post-vid">
      <div id="post-vid-content">
        <!-- <i class="fas fa-broadcast-tower"></i> -->
        <!-- <p id="vid-description"></p> -->
        <iframe id="vid" src="https://www.youtube.com/embed/<%= post.video_url.slice(-11) %>?autoplay=1" frameborder="0" width="800" height="450"></iframe>
      </div>
    </div>
    <p id="post-content-text"><%= post.content %></p>
    <a href="/admin/<%= post._id %>/edit"><button class="btn">Edit Post</button></a>
  </div>
</div>
<% include partials/footer %>
