<% include partials/header %>
<div id="blog-content">
  <div id="blog-title">
    <div id="blog-title-content" class="container">
      <p class="section-title">Jamani Skeete's Blog</p>
      <p>Informational articles describing digital marketing industry-backed advice</p>
    </div>
  </div>
  <div id="blog-posts">
    <div id="blog-posts-content" class="container">
      <% for (let i = posts.length - 1; i >= 0; i--) { %>
        <div class="blog-post" id="<%= posts[i]._id %>" style="background: linear-gradient(rgba(153, 230, 255, 0.7), rgba(153, 230, 255, 0.7)), url(<%= posts[i].video_thumbnail %>)">
          <a class="blog-post-link" href="/blog/<%= posts[i]._id %>">
            <p class="blog-post-title blog-link"><%= posts[i].title %></p>
            <p class="content-cutoff blog-link"><%= posts[i].content %></p>
            <div class="blog-link">
              <span>Created: </span>
              <span><%= moment(posts[i].post_date, 'YYYY-MM-DD').format('MMMM Do YYYY') %></span>
              <span>- <%= moment(posts[i].post_date, 'YYYY-MM-DD').fromNow() %></span>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
  <div id="about-author">
    <div id="about-author-content" class="container">
      <h1>About Jamani</h1>
      <p>“Seek first to understand, then be understood.” is a personal philosophy of Jamani Skeete, owner of Need Leads. In his move to Memphis, he was overwhelmed with the number of businesses closing down and giving in to their competition. He believes that a business can not truly excel with weak marketing strategies and a resistance to transition to current digital platforms. His goal is to make other businesses flourish by minimizing the stress of online marketing and publicizing content which is highly important for their brand.</p>
    </div>
  </div>
</div>
<script src="/blog.js" defer></script>
<% include partials/footer %>
