<% include partials/header %>
<div id="blog-content">
  <div id="blog-title">
    <div id="blog-title-content" class="container">
      <p class="section-title">Jamani Skeete's Blog</p>
      <small>Informational articles from the grandmaster himself</small>
    </div>
  </div>
  <div id="blog-posts">
    <div id="blog-posts-content" class="container">
      <% for (let i = 0; i < posts.length; i++) { %>
        <div class="blog-post" id="<%= posts[i]._id %>" style="background: linear-gradient(rgba(153, 230, 255, 0.7), rgba(153, 230, 255, 0.7)), url(<%= posts[i].video_thumbnail %>)">
          <a class="blog-post-link" href="/blog/<%= posts[i]._id %>">
            <p class="blog-post-title"><%= posts[i].title %></p>
            <p class="content-cutoff"><%= posts[i].content %></p>
            <div>
              <span>Created: </span>
              <span><%= moment(posts[i].post_date, 'YYYY-MM-DD').format('MMMM Do YYYY') %></span>
              <span>- <%= moment(posts[i].post_date, 'YYYY-MM-DD').fromNow() %></span>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>
<!-- <script src="/blog.js"></script> -->
<% include partials/footer %>
