<% include partials/header %>
<div class="blog-content">
  <div id="blog-title">
    <div id="blog-title-content" class="container">
      <p class="section-title">JMan's Blog</p>
      <small>Informational articles from the grandmaster himself</small>
    </div>
  </div>
  <div id="posts">
    <div id="posts-content" class="container">
      <% for (let i = 0; i < posts.length; i++) { %>
        <div class="post" id="<%= posts[i]._id %>">
          <a class="post-link" href="/blog/<%= posts[i]._id %>">
            <p class="post-title"><%= posts[i].title %></p>
            <p class="content-cutoff"><%= posts[i].content %></p>
            <div>
              <span>Created: </span>
              <span><%= moment(posts[i].post_date).format('MMMM Do YYYY') %></span>
              <span>- <%= moment(posts[i].post_date).fromNow() %></span>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>
<% include partials/footer %>
