<% include partials/header %>
<div class="edit-content">
  <p class="section-title">Update Blog Post</p>
  <form enctype="multipart/form-data" action="/admin" class="update-form post-form" id="<%= post._id %>" method="get">
    <div class="form-control">
      <label for="title">Title: </label>
      <input type="text" id="edit-title" class="title" value="<%= post.title %>" name="title">
    </div>
    <div id="add-content" class="form-control">
      <label for="content">Content: </label>
      <textarea name="content" wrap="hard" id="edit-content" cols="100" rows="20"><%= post.content %></textarea>
    </div>
    <div class="form-control">
      <label for="last_updated">Last Date Updated: </label>
      <input type="date" id="edit-last-updated" name="last_updated">
      <!-- <%= post.last_update %> -->
    </div>
    <input class="btn" type="submit">
    <button id="<%= post._id %>" class="delete btn">Delete Post</button>
  </form>
</div>
<% include partials/footer %>
