<% include partials/header %>
<div class="post-content">
  <div id="post">
    <p class="section-title"><%= post.title %></p>
    <div>
      <span><%= moment(post.post_date).format('MMMM Do YYYY') %></span>
      <span>- <%= moment(post.post_date).fromNow() %></span>
    </div>
    <div>
      <span><%= moment(post.last_update).format('MMMM Do YYYY') %></span>
      <span>- <%= moment(post.last_update).fromNow() %></span>
    </div>
    <p id="content"><%= post.content %></p>
  </div>
</div>
<% include partials/footer %>
